html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(196, 213, 240);
}

.navbar {
    background-color: #011C37;
}

.navbar-brand {
    font-family: "Grand Hotel";
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    line-height: 15px;
}

.btn-outline-secondary {
    margin-top: 5px;
}

.btn {
    margin-right: 20px;
}

.kontainer {
    height: 620px;
    padding-top: 60px;
    width: 100%;
    margin: 0px;
}

#beranda {
    padding: 80px 0;
}

.tron {
    background-color: #354764;
    width: 970px;
    height: 381px;
    margin: 60px auto;
}

.tron img {
    height: 431px;
    margin-top: -25px;
    padding-left: 40px;
    float: left;
}

h1 {
    font-family: "Grand Hotel";
    font-size: 85px;
    font-weight: 580;
    font-style: italic;
    text-align: center;
    line-height: 90px;
    padding: 40px 250px 0px 0px;
    color: white;
}

h2 {
    font-family: "Grand Hotel";
    font-weight: normal;
    font-size: 64px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 60px;
    color: #011C37;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: right;
    padding-top: 15px;
    padding-right: 85px;
}

h4 {
    font-family: "Grand Hotel";
    font-weight: normal;
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: -10px;
    color: #011C37;
}

hr {
    transform: rotate(145deg);
    width: 350px;
    border: 1px solid white;
    margin-top: -50px;
    margin-left: 560px;
}

a #down {
    height: 30px;
    margin: 30px 0 0 280px;
    position: relative;
    animation: down 1s infinite alternate;
}

@keyframes down {
    from {bottom: -5px;}
    to {bottom: 5px;}
}

#profil, #kontak {
    width: 100%;
    background-color: white;
}

#profil img {
    width: 200px;
    border-radius: 50%;
    float: left;
}

td, p{
    font-family: "Raleway", sans-serif;
}

.data {
    padding-left: 10px;
}

.tabel {
    padding: 20px 0 0 250px;
    margin-bottom: 20px;
}

#profil p {
    border: 3px solid #354764;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    font-size: 14px;
}

#pengalaman ul {
    list-style-type: disc;
    float: none;
    background-color: rgb(196, 213, 240);
}

#pengalaman li {
    float: none;
}

.konten{
    display: block;
    width: fit-content;
}

.sub-konten {
    padding-left: 50px;
    float: left;
}

.sub-konten h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

.icon {
    height: 44px;
    float: left;
}

#kontak {
    height: 540px;
}

#kontak p {
    float: left;
    margin-top: 13px;
    padding: 0 30px 20px 10px;
}

.sub-kontainer {
    width: 310px;
}

footer {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    background-color: #011C37;
    width: 100%;
}

footer img {
    transform: rotate(180deg);
    height: 17px;
    float: left;
    margin-top: 3px;
}

footer div {
    width: 160px;
    margin: 0 auto;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

#kontak a {
    color: black;
}

footer a, footer a:hover {
    color: white;
}